/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Oswald:wght@500&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

/* Custom designs */
@import url(components/banner.css);
@import url(components/buttons.css);
@import url(components/cards.css);
@import url(components/container.css);
@import url(components/footer.css);

/* Utilities */
body {
  margin: 0;
  font-family: Lora;
}

h1, h2, h3, h4 {
  font-family: Oswald;
}

h2 {
  color: #61A3BA;
}

h4 {
  color: #A2C579;
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

/* Custom design below! */
